:root {
	/* COLORS */
	background-color: white;
	--title-color: BurlyWood;
	--front-color: BlanchedAlmond;

	/* FONT */
	font-size: 2vh;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-shadow: 0 0 2px white, 0 0 5px var(--title-color);
	
	/* SIZE */
	min-height: 100%;
}

body {
	margin: 0;
}

.header { /* HEADER */
	margin: 0;
	width: 100%;
	
	position: fixed;
	top: 0;
	right 0;
	
	text-align: center;
	background-color: var(--title-color);

	* { /* ELEMENTS IN HEADER */
		text-transform: uppercase;

		margin: 0;
	}
}

.main {
	max-width: 600px;
	margin: auto;
	margin-top: 10vh;
	padding: 10px 50px;
	
	background-color: var(--front-color);
	border-radius: 30px;
}

.chapter {
	h2 { /* CHAPTER TITLE */
		background-color: var(--title-color);
		border-radius: 30px;
	}
}
